// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #121212;
}

.card-custom {
    background-color: #fffff;
}

.btn-primary-sell {
    background-color: #BB86fc;
    color: white;
}
