// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';


body {
    background-color: #121212;
}

.card-custom {
    background-color: #fffff;
}

.btn-primary-sell {
    background-color: #BB86fc;
    color: white;
}

.buttons {
    margin-top: 11px;
    display: flex;
    justify-content: flex-end;

    span {
        margin-right: 20px;
    }

    :hover {
        cursor: pointer;
    }

}
